// navbar-transition
.navbar-transition {
  transition: all 150ms linear;
}

#navbar {
  position: fixed;
  width: 100%;
  z-index: 1;

  margin-top: 10px;
  box-shadow: none;
  box-shadow: 0 0 0 #000;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#navbar.scrolled {
  margin-top: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav-link {
  font-size: 17px;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link.scrolled {
  color: #000;
}

.nav-link:hover {
  background-color: hsla(0, 0%, 0%, 0);
  border-bottom: 2px solid #ddd;
}

.nav-link.scrolled:hover {
  border-bottom: none;
  background-color: #ddd;
}

.nav-link.active {
  color: #2196f3;
  background-color: #00000000;
  border-bottom: 2px solid #2196f3;
}

.nav-link.scrolled.active {
  color: #fff;
  background-color: #2196f3;
  border-bottom: none;
}

#search-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-search-icon {
  fill: #fff;
}

.svg-search-icon.scrolled {
  fill: #000;
}

.svg-search-icon:hover {
  fill: #aaa;
}

.svg-search-icon.scrolled:hover {
  fill: #555;
}

.submit-search-button {
  position: absolute;
  width: 30px;
  top: 13px;
  right: 5px;
  bottom: 13px;
  border: none;
  outline: none;
  background: none;
}

.nav-search {
  width: 200px;
  padding: 6px;
  font-size: 17px;
  border-radius: 5px;

  color: #fff;
  border: 1px solid #e9e9e9;
  background-color: #00000000;
}

.nav-search:focus {
  width: 300px;
  outline: none;
}

.nav-search.scrolled {
  border: none;
  color: #000;
  background-color: #e9e9e9;
}

.nav-search::placeholder {
  color: #fff;
}

.nav-search.scrolled::placeholder {
  color: #000;
}

